body {
  font-family: $font-family-sans-serif;
  background-color: $background-grey;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 18px;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 45px;
  line-height: 52px;
  color: $white;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 25px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  display: inline;
}

.button, .btn {
  font-family: $font-family-sans-serif;
}

p {
  color: $white;
  font-size: 25px;
  line-height: 32px;
  text-align: left;
}

@media(max-width:1200px) {
  body {
    padding-top: 50px;
  }
}

.nav-overlay {
  position: absolute;
  width: 100%;
  height: 0px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  background-blend-mode: multiply;
  z-index: 10;
}

.underline {
  text-decoration: underline;
}

.align-center {
  text-align: center;
}

.container-padding {
  padding: 0 30px;
}

.post p a,
.page p a,
.post table a,
.page table a,
.registration-banner a {
  text-decoration: underline;
}

a:link {
  color: $white;
  text-decoration: underline;
}

a:visited {
  color: $white;
  text-decoration: underline;
}

a:hover {
  color: $white;
  text-decoration: underline;
}

a:active {
  color: $white;
  text-decoration: underline;
}

.display-inline {
  display: inline;
}

.float-left {
  float: left;
}

.border-none {
  border: none;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-red, .bg-news {
  background-color: $red;
}

.bg-greygreen, .bg-datablog {
  background-color: $greygreen;
}

.bg-dark-grey {
  background-color: $dark-grey;
}

.yellow-txt {
  color: $yellow;
}

.text-center {
  text-align: center;
}

.font-weight-normal {
  font-weight: normal;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #fff;
  box-shadow: 0 0 20px $black;
}

.tabbed-list {
  display:inline-block;
  width:100px;
}
