.footer {
  background-color: $dark-grey;
  border-radius: 0px;
}

.footer-image {
  color: #111111;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  padding-bottom: 15px;
}

.left-footer-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.social {
  font-size: 30px;
  color: $greygreen !important;
}

footer li {
  padding-bottom: 15px;
}

.hashtag-font-size {
  font-size: 26px;
  text-decoration: underline;
}

footer > .container {
  padding-bottom: 15px;
}

.to-front {
  z-index: 30;
}
