.post-overview {
  padding: 0 15px 0 15px;
  margin: 10px;
}

.post-type {
  display: inline-block;
}

.post p, .page p {
  padding-bottom: 20px;
}

.entry-title a:link {
  font-weight: bold;
  text-decoration: none;
}

.entry-title a:visited {
  font-weight: bold;
  text-decoration: none;
}

.entry-title a:hover {
  opacity: 0.5;
  font-weight: bold;
  text-decoration: none;
}

.entry-title a:active {
  opacity: 0.7;
  font-weight: bold;
  text-decoration: none;
}

.entry-summary p {
  font-size: 21px;
  line-height: 32px;

  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.news-datablog-archive {
  padding-right: 10px;
  a:link, a:visited, a:hover, a:active {
  }
}
